# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# Django
staticfiles/
media/
*.log

# Environment variables / secrets
*.env
.env*

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
